<html lang='en'>
  <body>
    <p>Hello {{username}},</p>
    <p>
      We wanted to inform you that your account has been blocked due to a
      violation of community guidelines.</p>
    <p>Ensuring a safe and respectful environment for all our users is our top
      priority. We take violations of community guidelines seriously to maintain
      a positive user experience.
    </p><p>We will inform you when your account will be unblocked.</p>
    <p>Best regards,</p>
    <p>WebDimensionsHub Team</p>
  </body>
</html>