<html lang='en'>
  <body>
    <p>Hello {{username}},</p>
    <p>
      We are pleased to inform you that your account has been unblocked. You can
      now access our platform and resume your activities as usual.</p>
    <p>Best regards,</p>
    <p>WebDimensionsHub Team</p>
  </body>
</html>